$Darkcyan: hsl(185, 75%, 39%);
$Verydarkblue: hsl(229, 23%, 23%);
$Darkgrayishblue: hsl(227, 10%, 46%);
$Darkgray: hsl(0, 0%, 59%);
@import url(https://fonts.google.com/specimen/Kumbh+Sans);

@import 'global';
@import 'mobile';
@import 'desktop';